body {
    text-align: center;
    background-color: #525252;
    font-family: 'Times New Roman', serif;
}
p {
    color: maroon;
}
h1, h2 {
    color: gray;
    border: 4px inset gray;
}
h2 {
    text-align: left;
}
footer {
    border-bottom: 1px solid black;
}
p.greentea {
    color: green;
}
p.raspberry {
    color: blue;
}
p.blueberry {
    color: purple;
}
