body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 14px;
}
@font-face {
    font-family: "Emblema One";
    src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"), url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}
h1 {
    font-family: "Emblema One", sans-serif;
    font-size: 220%;
}
h2 {
    font-size: 1.2em;
    font-weight: normal;
}
#smol {
    font-size: small;
    font-style: italic;
}
